* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 16px;
}

section {
  padding: 100px 0;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.icon {
  font-size: 50px;
  color: var(--red);
  transition: color 0.3s ease;

}

.button {
  background-color: var(--red);
  color: var(--white);
  padding: 12px 36px;
  outline: none;
  font-size: 25px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid var(--red);
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: 8px;
  }
}

.w-100 {
  width: 100%
}

.button:hover {
  color: var(--red);
  background: transparent;
}

.appContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside {
  width: 83.34%;
  max-width: 1200px;
}

.sub-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and (max-width: 1040px) {
  .inside {
    width: 95% !important;
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .inside {
    width: 100% !important;
    padding: 0 8px;
  }
}


@media screen and (max-width: 576px) {
  .inside {
    width: 100% !important;
    padding: 0 8px;
    overflow-x: hidden;
  }
  .button {
    width: 100%;
  }
}